header{
    text-align: center;
     
    a{
        float: left;
        margin: 30px;
        text-decoration: none;
    }
    .logo_date{
        
        h1{
            font-size: 60px;
            color: white;
            text-shadow: -1px -1px 0 #e7bfbf,  1px -1px 0 #ffaaaa,-1px 1px 0 #ffa9a9,1px 1px 0 #faa3a3;
        }
        h2{
            color: white;
            text-shadow: -1px -1px 0 #e97f9f,  1px -1px 0 #ffaaaa,-1px 1px 0 #ffa9a9,1px 1px 0 #faa3a3;
        }
    }
}
