@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
* {
  font-family: "Platypi", serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150vh;
  margin: 0;
  background-image: url(/assets/images/istockphoto-1299946944-612x612.jpg);
  background-repeat: no-repeat; 
  background-size: 100% 60%; 
  background-position: center top; 
  background-color: #ffeece;
  #container {
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    padding: 0 20px 80vh 0;
    background-color: white;
    margin-top: 60px;
  }

  #task_list {
    padding-bottom: 20px;
    li {
      background-color: #ffe7e0;
      border-radius: 8px;
      list-style-type: none;
      padding: 5px 15px;
      color: rgb(168, 145, 145);
      margin-bottom: 5px;
      


      .countdown {
        font-weight: bold;
        font-size: 15px;
        color: rgb(187, 187, 187);
        margin-left: 30px;
        padding-top: 10px;
        float: right;
    }
      
    
      button{
        margin-left: 20px;
        
      }
      input[type="checkbox"]{
        float: left;
        padding-top: 15px;
        margin-top: 6px;
      }
    }
  }
  main {
    text-align: center;

    #submit{
      padding: 10px;
      border-radius: 8px;
      background-color: #ededed;
      
      &:hover{
        background-color: #97dbf0;
        cursor: pointer;
        transition: 0.8s ease-in;
      }
    }
    #to_input {
      width: 50%;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 8px;
      background-color: #e6e4e4;
      color: #333;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #97dbf0;
        transition: 0.6s ease-in;

      
    }
  }
      button{
        background-color: #D5D5D3;
        border: none;
        box-shadow: none;
        padding: 0;
        transition: transform 0.2s;

          .fa-solid{
            background-color: #ffe7e0;
            font-size: 25px;
          }
          .fa-trash{
            color: red;
            cursor: pointer;
          }
          .fa-pen{
            color: brown;
            cursor: pointer;
          }
        &:active{
            transform: scale(0.9)
        }
      }
}
}
